/*Screen sizes*/
$screen_small: "576px";
$screen_medium: "768px";
$screen_large: "992px";
$screen_xlarge: "1200px";

$mobile: "only screen and (max-width: #{$screen_small - 1})";
$mobile_landscape: "only screen and (min-width: #{$screen_small}) and (orientation : landscape)";

$tablet: "only screen and (min-width: #{$screen_medium})";
$tablet_portrait: "only screen and (min-width: #{$screen_medium}) and (orientation : portrait)";
$tablet_landscape: "only screen and (min-width: #{$screen_medium}) and (orientation : landscape)";
$tablet_max: "only screen and (max-width: #{$screen_large - 1})";
$normal: "only screen and (min-width: #{$screen_large})";
$desktop: "only screen and (min-width: #{$screen_xlarge})";

/* Colores */
// $azulclaro: #a8dadc;
// $azulintenso: #1d3557;
// $azulmedio: #457b9d;
// $blancohumo: #f1faee;
// $rojo: #e63946;
// $rosa: #f2baba;

$azulpastel: #c1d2d7;
$blancohumo: #e7edee;
$naranja: #eb6d1e;
$rosa: #fcc5d1;
$rojo: #e63946;
$verdefuerte: #0d4351;
$verdemedio: #255c6b;
$verdeclaro: #4b7884;

/* Fonts */
$main-font: Verdana, Geneva, Tahoma, sans-serif;

/* Font sizes */
$font-size-base: 1rem !default;
$font-size-h1: 1.875rem;
$font-size-h2: 1.625rem;
$font-size-h3: 1.3rem;
$font-size-h4: 1.25rem;
$font-size-parrafo: 1rem;
