/* esta es la lista de canciones */
.listacancionero {
  font-style: $main-font;
  line-height: 2.2;
  margin: 0 0 40px 117px;
}

@media only screen and (max-width: 768px) {
  .listacancionero {
    margin: 0 25px;
  }
}

.btn {
  padding-top: 2px;
  &.botondecanciones {
    text-align: left;
  }
}

.enlace {
  color: white;
  font-size: 1rem;
  font-style: $main-font;
  text-decoration: none;
}

.enlace:hover {
  color: $rosa;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .enlace {
    font-size: 0.75rem;
  }
}

// Estrofas de las canciones
p .estrofa {
  margin: 15px 50px;
}

.estribillo {
  margin-left: 150px;
}

@media only screen and (max-width: 768px) {
  .estrofa {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .estribillo {
    margin-left: 35px;
  }
}

/* Hipervínculo a youtube */
.videoyoutube,
.mapagoogle {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media only screen and (max-width: 768px) {
  .videoyoutube {
    width: 75%;
    height: auto;
  }
}
