.cursiva {
  font-style: italic;
  text-align: center;
}

#biografia {
  padding-right: 0px;
}

.primeraparte {
  margin-right: 0;
}

.segundaparte {
  padding-right: 13px;
}

#fotosimpson {
  width: 270px;
  height: auto;
}

@media only screen and (max-width: 576px) {
  #fundador {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 576px) {
  .primeraparte {
    margin-left: 0px;
    margin-right: 15px;
    padding: 0 20px 10px 20px;
  }
}

@media only screen and (max-width: 576px) {
  .ultimo {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 576px) {
  .segundaparte {
    padding: 0 20px 10px 20px;
  }
}

.negrita {
  color: $rojo;
}
