//La página del ABC
.cursiva {
  font-style: italic;
  text-align: center;
}

.negrita {
  color: $rojo;
  font-weight: bold;
}

//La página de Simpson
.fotofundador {
  text-align: center;
  margin: 20px;
}

.fotosimpson {
  width: 250px;
  height: auto;
}

@media only screen and (max-width: 576px) {
  .fotosimpsonnuevo {
    width: 180px;
    height: auto;
  }
}
