#santiago-estero-table {
  padding: 0 5px 5px 5px;
  margin: 5px 50px 5px 55px;
}

.table-title {
  color: #db3a34;
}

.table-footer {
  color: #177e89;
}

/* Esta es una animación provisional, solo para practicar */
// @keyframes un_efecto {
//   0% {
//     width: 300px;
//   }
//   25% {
//     width: 500px;
//   }
//   50% {
//     width: 300px;
//     background-color: blue;
//   }
//   75% {
//     width: 500px;
//   }
//   100% {
//     width: 300px;
//     background-color: lightblue;
//   }
// }

// .animacion {
//   width: 100px;
//   text-align: center;
//   background-color: rgb(11, 172, 247);
//   animation-name: un_efecto;
//   animation-iteration-count: infinite;
//   animation-timing-function: ease-in;
//   animation-duration: 2s;
//   animation-delay: 0s;
// }
