.filadelagaleria {
  justify-content: center;
}

.img-fluid {
  padding: 15px 0;
}

.titulos-en-galeria {
  color: $naranja;
  font-size: 1rem;
  font-weight: bold;
  padding-top: 15px;
  text-align: center;
}
