#formulario {
  display: grid;
  background-color: $verdefuerte;
  grid-row-gap: 5px;
  margin: 5px 50px 5px 50px;
  padding: 5px;
  div {
    background-color: $azulpastel;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 15px;
  }
}

@media only screen and (max-width: 768px) {
  #formulario {
    margin: 5px;
    padding: 5px;
    &.fondo {
      width: 250;
    }
  }
}

@media only screen and (max-width: 768px) {
  .segunda_parte-formulario {
    margin-bottom: 0;
  }
}

// Los títulos dentro del formulario
label {
  font-family: $main-font;
  font-size: $font-size-parrafo;
}

@media only screen and (max-width: 768px) {
  label {
    font-size: 0.87rem;
  }
}

h5 {
  color: $verdefuerte;
  font-family: $main-font;
  font-size: $font-size-h4;
}

.seleccion {
  font-family: $main-font;
  font-size: $font-size-parrafo;
  margin-bottom: 24px;
}

@media only screen and (max-width: 768px) {
  .seleccion {
    font-size: 0.7rem;
  }
}

.botonenviar1 {
  text-align: center;
}

.botonenviar2 {
  font-family: $main-font;
  font-size: $font-size-parrafo;
  width: 60%;
}

//Este es el único footer que tiene esta especificación. La clase está en la etiqueta "footer"
@media only screen and (max-width: 768px) {
  .footer_de_eventos {
    margin-top: 0.5rem;
  }
}
