#formulario {
  display: grid;
  background-color: $verdefuerte;
  grid-row-gap: 5px;
  margin: 5px 50px 5px 50px;
  padding: 5px;
  div {
    background-color: $azulpastel;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 20px;
  }
}

@media only screen and (max-width: 768px) {
  #formulario {
    margin: 5px;
    padding: 5px;
    &.fondo {
      width: 250;
    }
  }
}

// Los títulos dentro del formulario
label {
  font-family: $main-font;
  font-size: $font-size-parrafo;
}

@media only screen and (max-width: 768px) {
  label {
    font-size: 0.87rem;
  }
}

h5 {
  color: $verdefuerte;
  font-family: $main-font;
  font-size: $font-size-h4;
}

.seleccion {
  font-family: $main-font;
  font-size: $font-size-parrafo;
  margin-bottom: 24px;
}

.botonenviar {
  font-family: $main-font;
  font-size: $font-size-parrafo;
  font-weight: bold;
  margin: auto;
  width: 40%;
}
