footer {
  background-color: $verdefuerte;
  color: $blancohumo;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  margin-top: 2rem;
  padding: 10px 10px 1px 10px;
  text-align: center;
}

.font-awesome-footer {
  margin-bottom: 15px;
}

.titulo-footer {
  color: $rojo;
}

@media only screen and (max-width: 768px) {
  footer {
    font-size: 0.75rem;
  }
}

@media only screen and (max-width: 768px) {
  #nosotros {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .seguinos {
    border-top: 1px solid $azulpastel;
    padding-top: 10px;
  }
}

span {
  font-style: italic;
}

.copyright {
  border-top: 1px solid $azulpastel;
  font-size: 0.75rem;
  padding-top: 10px;
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .copyright {
    text-align: center;
  }
}
