footer {
  background-color: $verdefuerte;
  color: $blancohumo;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  margin-top: 2rem;
  padding: 10px 10px 1px 10px;
}

@media only screen and (max-width: 768px) {
  footer {
    font-size: 0.75rem;
  }
}

.font-awesome-footer1 {
  text-align: center;
}

.font-awesome-footer2 {
  margin-bottom: 15px;
}

@media only screen and (max-width: 768px) {
  .font-awesome-footer1 {
    font-size: 75%;
  }
}

.titulo-footer {
  color: $rojo;
  font-weight: bold;
  text-align: center;
}

.parrafo-footer {
  list-style: none;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  #nosotros {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .seguinos {
    border-top: solid $azulpastel;
    padding-top: 10px;
  }
}

.logo-facebook {
  padding-right: 10px;
}

.span_del_footer {
  font-style: italic;
}

.copyright {
  border-top: 1px solid $azulpastel;
  font-size: 0.75rem;
  padding-top: 10px;
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .copyright {
    text-align: center;
  }
}
