header {
  height: 100%;
  width: 100%;
}

.flex-container {
  display: flex;
}

.container-logo {
  padding: 0 12px;
}

@media only screen and (max-width: 576px) {
  .container-logo {
    padding: 6px 12px;
  }
}

@media only screen and (max-width: 768px) {
  #logo {
    width: 65px;
    height: auto;
  }
}

#main-title {
  color: black;
  font-size: 2rem;
  margin-top: 5px;
}

@media only screen and (max-width: 768px) {
  #main-title {
    font-size: 1rem;
  }
}

#main-subtitle {
  color: $rojo;
  font-size: 1.4rem;
  font-style: italic;
  text-align: left;
}

@media only screen and (max-width: 576px) {
  #main-subtitle {
    font-size: 1rem;
  }
}
